.App {
  margin: 0;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  /* min-width: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-self: center; */
  justify-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* padding: 1vh; */
}

.MainContainer {
  color: '#fff';
  min-width: 99%;
  /* padding: 5px; */
  /* box-shadow: 10vh; */
}

.MainColumn {
  margin: 5px;
  /* align-items: center; */
  justify-content: center;
}
